
  <label>Nome</label>
  <input type="text" name="name" value=""><br>
  <label>Sobrenome</label>
  <input type="text" name="last_name" value=""><br>
  <label>Email</label>
  <input type="email" name="email" value=""><br>
  <label>Data de Nascimento</label>
  <input type="date" name="birthdate" value=""><br>
  <label>Data</label>
  <input type="date" name="joindate" value=""><br>
  <label>Telefone</label>
  <input type="text" name="phonenumber" value=""><br>
  <label>Gênero</label>
  <input type="text" name="gender" value=""><br>
  <label>Cor do Perfil</label>
  <input type="text" name="color" value=""><br>

